h1, h2, h3, h4, h5 {color: #291400; font-family:"Candara", "Arial";}

h2.vert {color: #00B2D9}
h3.rouge {color: #E62671}
h3.orange {color: #FFCC00}
h3.vert {color: #00B2D9}
h3.bfonce {color: #6600FF}
h3.maroon {color: #AD002D}
h3.azukinezu {color: #715454}

h4.rouge {color: #E62671}
h4.orange {color: #FFCC00}
h4.vert {color: #00B2D9}
h4.bfonce {color: #6600FF}
h4.maroon {color: #AD002D}

body {font-family: "Candara", "Arial"}

body.left {
	font-family: "Candara", "Arial";
	background-color: #00B2D9;
	overflow: hidden;
	}

body.leftDark {
	font-family: "Candara", "Arial";
	background-color: #005672;
	overflow: hidden;
	}
	
	body.econ303 {
	font-family: "Candara", "Arial";
	background-image: url("http://axelw.altervista.org/econ303wn19/econ303logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100px 100px}

body.econ3340 {
	font-family: "Candara", "Arial";
	background-image: url("http://hwatanabe.altervista.org/econ3340su17/econ3340logo.png");
    background-repeat: no-repeat;
    background-position: right top;}
    
body.econ2302 {
	font-family: "Candara", "Arial";
	background-image: url("http://hwatanabe.altervista.org/econ2302su17/econ2302logo.png");
    background-repeat: no-repeat;
    background-position: right top;}
    
body.econ1301 {
	font-family: "Candara", "Arial";
	background-image: url("http://hwatanabe.altervista.org/econ1301fl17/econ1301logo.png");
    background-repeat: no-repeat;
    background-position: right top;}
    
	body.econ695 {
	font-family: "Candara", "Arial";
	background-image: url("http://axelw.altervista.org/econ695wn19/econ695logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100px 100px}
    
    body.econ493 {
	font-family: "Candara", "Arial";
	background-image: url("http://axelw.altervista.org/econ493fl19/econ493logo.png");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 100px 100px}
    
    
    
table, td, th { border: 1px solid; border-collapse: collapse; border-spacing: 10px 3px; rules: rows; bordercolor:#291400}
a, span { font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#291400; border:0px #ffffff solid; text-decoration:none;}

span.orangef{ color: #00B2D9; }

a:hover { border:0px #ff6600 solid; background-color:#00B2D9; color:#ffffff; }

a.bfonce{ font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#6600FF; border:0px #ffffff solid; text-decoration:none;}
a.bfonce:hover { border:0px #ff6600 solid; background-color:#6600ff; color:#ffffff; }

a.rouge{ font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#E62671; border:0px #ffffff solid; text-decoration:none;}
a.rouge:hover{ border:0px #ff6600 solid; background-color: #E62671; color:#ffffff}

a.vert{ font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#005672; border:0px #ffffff solid; text-decoration:none;}
a.vert:hover{ border:0px #ff6600 solid; background-color: #005672; color:#ffffff}

a.orange{ font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#FFCC00; border:0px #ffffff solid; text-decoration:none;}
a.orange:hover{ border:0px #ff6600 solid; background-color: #FFCC00; color:#ffffff}

a.orangef{ font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#00B2D9; border:0px #ffffff solid; text-decoration:underline;}
a.orangef:hover{ border:0px #ff6600 solid; background-color: #00B2D9; color:#ffffff}

a.blanc { font-family:"Candara", "Arial"; margin:0px; padding:4px; display:block; background-color:#00B2D9; color:#ffffff; border:0px #291400 solid;
width:142px; height:18px; font-size:12pt; line-height:18px; text-decoration:none;}
a.blanc:hover{ border:0px #ff6600 solid; background-color: #ffffff; color:#00B2D9;}

a.azukinezu{ font-family:"Candara", "Arial"; margin:0px; background-color:#ffffff; color:#715454; border:0px #ffffff solid; text-decoration:none;}
a.azukinezu:hover{ border:0px #ff6600 solid; background-color: #715454; color:#ffffff}

LI.list2 {list-style: disc outside; color:#291400}
LI.listcirc {list-style: circle outside; color:#291400}
LI.listwide {list-style: disc outside; color: #291400; margin: 8pt 0}
LI.listb {list-style: disc outside; color:#6600FF}
LI.listr {list-style: disc outside; color:#E62671}
LI.listv {list-style: disc outside; color:#291400}
LI.listo {list-style: disc outside; color:#FFCC00}
LI.listazukinezu {list-style: disc outside; color:#715454}

DT.listwide {color: #291400; margin: 8pt 0}

ol{ color:#291400 }

.textenoir {color: black}
.textebfonce {color:#6600FF}
.texterouge{color:#E62671}
