h1, h2, h3, h4, h5 {color: #6633FF}

body {
	font-family: "Candara", "Arial";
	background-color: #00B2D9;
	overflow: hidden;
	}
	
body.econ3340left {
	font-family: "Candara", "Arial";
	background-color: #00B2D9;
	overflow: hidden;	
	background-image: url("http://hwatanabe.altervista.org/econ3340su17/econ3340logo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
	}
	
body.econ2302left {
	font-family: "Candara", "Arial";
	background-color: #00B2D9;
	overflow: hidden;	
	background-image: url("http://hwatanabe.altervista.org/econ2302su17/econ2302logo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
	}

body.econ1301left {
	font-family: "Candara", "Arial";
	background-color: #00B2D9;
	overflow: hidden;	
	background-image: url("http://hwatanabe.altervista.org/econ1301fl17/econ1301logo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
	}
	
body.econ493left {
	font-family: "Candara", "Arial";
	background-color: #00B2D9;
	overflow: hidden;	
	background-image: url("http://hwatanabe.altervista.org/econ493fl19/econ493logo.png");
    background-repeat: no-repeat;
    background-position: left bottom;
	}
	
table, td, th { border: 1px solid; border-collapse: collapse; border-spacing: 10px 3px; rules: rows; bordercolor:#6633FF}
a, span { font-family:"Candara", "Arial"; margin:0px; padding:4px; display:block; background-color:#00B2D9; color:#ffffff; border:0px #6633FF solid;
width:500px; height:18px; font-size:12pt; line-height:18px; text-decoration:none;}
a:hover { border:0px #ff6600 solid; color:#00B2D9; background-color:#ffffff; }

